.review {
  width: 90%;
  background-color: white;
  margin: 0 auto;
  padding: 5rem;
  border-radius: 1rem;
  &__form {
    width: 50%;
    margin: 0 auto;
  }

  &__label {
  }

  &__input {
  }

  &__select {
  }
}
