.review {
  max-width: 60rem;
  background-color: white;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 1rem;
  &__form {
    margin: 0 auto;
    width: 80%;
  }

  &__label {
  }

  &__input {
  }

  &__select {
  }
}
