@import '../../index';

.changePassword__wrapper {
	padding: 5rem 13rem;
}

.changePassword__form {
	&-label {
		text-transform: capitalize;
		font-size: 1.5rem;
		font-weight: 700;
		color: #6e6e6e;
	}

	&-input {
		font-weight: 100;
		color: $input-grey;
	}

	&-title {
		font-size: 2rem;
		margin-bottom: 3rem;
		text-transform: uppercase;
		background-image: linear-gradient(to right, $light-blue, $dark-blue);
		background-clip: text;
		color: transparent;
	}

	&-button {
	}
}

@media screen and (max-width: 768px) {
	.changePassword__wrapper {
		padding: 5rem;
	}
}
