@import '../../index';

// .spinner {
// 	position: absolute;
// 	left: 50%;
// }

.tour {
	text-align: center;
	position: relative;

	&__container {
	}

	&__header {
		font-size: 5rem;
		color: white;
		font-weight: 100;
		line-height: 1.6;
		text-transform: uppercase;

		span {
			padding: 1rem 1.5rem;
			box-decoration-break: clone;
			background-image: linear-gradient(
				to bottom right,
				rgba(0, 143, 222, 0.85),
				rgba(0, 57, 122, 0.85)
			);
		}
	}

	&__info {
		position: absolute;
		transform: translateX(-50%);
		margin-top: 12rem;
		width: 35rem;
		top: 0;
		left: 50%;
		span {
			margin: 0 0.5rem;
		}
	}
}

.summary {
	display: flex;
	margin-top: -11rem;

	&__pins {
		display: flex;
		align-items: center;
		padding: 1rem 0;
		svg {
			font-size: 2.5rem;
			color: $dark-blue;
		}
	}

	&__pins-left {
		color: #575757;
		margin-left: 1.5rem;
		font-size: 1.5rem;
		text-transform: capitalize;
		font-weight: 700;
	}

	&__pins-right {
		margin-left: 1.5rem;
		font-weight: 100;
		color: #575757;
		font-size: 1.5rem;
		text-transform: capitalize;
	}

	&__wrapper {
		text-align: left;
		margin: 0 auto;
	}

	&__facts {
		width: 50%;
		text-align: center;
		background-color: whitesmoke;
		padding: 5rem 15rem;
		padding-top: 15rem;
		display: flex;

		&-upper {
		}

		&-lower {
			margin-top: 7rem;
			padding-bottom: 10rem;
		}

		&-lower--container {
			display: flex;
			align-items: center;
			padding: 1rem 0;

			img {
				height: 4rem;
				border-radius: 100%;
			}
		}
	}

	&__heading {
		font-size: 2.5rem;
		text-transform: uppercase;
		color: transparent;
		background-clip: text;
		margin-bottom: 2rem;
		text-align: left;
		font-weight: 500;
		background-image: linear-gradient(to right, $light-blue, $dark-blue);
	}

	&__about {
		width: 50%;
		text-align: center;
		padding: 5rem 12rem;
		padding-bottom: 15rem;
		padding-top: 15rem;
		background-color: white;

		p {
			font-size: 1.7rem;
			text-align: left;
			line-height: 3rem;
			font-weight: 300;
		}
	}
}

.images__section {
	margin-top: -11rem;
	display: flex;
	clip-path: polygon(0 11rem, 100% 0, 100% calc(100% - 11rem), 0 100%);
}

.images__box {
	flex-basis: 33.3333%;
	height: 50rem;
	img {
		object-fit: cover;
	}
}

.images__image {
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.reviews {
		padding: 20rem 2rem;
	}

	.reviews__box {
		width: 100%;
	}

	.summary {
		flex-direction: column;
	}

	.summary__facts {
		width: 100%;
		padding: 10rem 3rem;
		padding-top: 15rem;
	}

	.summary__about {
		width: 100%;
		padding: 10rem 3rem;
		padding-bottom: 15rem;
	}

	.images__section {
		flex-direction: column;
	}

	.images__box {
		clip-path: polygon(0 11rem, 100% 0, 100% calc(100% - 11rem), 0 100%);
		&:not(:last-child) {
			margin-bottom: -11rem;
		}
	}

	.review {
		// background-color: grey;
	}
}
